* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.navigation {
  padding: 0 35px;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_menu_toogle {
  cursor: pointer;
  display: none;
}

.nav_menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nav_links {
  font-weight: 600;
  font-size: larger;
  color: black;
}

/* responsive */

@media (max-width: 800px) {
  .nav_menu_toogle {
    cursor: pointer;
    display: block;
  }
  .nav_menu {
    position: absolute;
    left: 0;
    top: 7rem;
    background: #2eab9999;
    padding: 3rem 4px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0% at 90% -10%);
    transition: clip-path 0.8s ease;
  }
  .nav_menu.active {
    clip-path: circle(120% at 50% 0%);
  }
  /* just hamburger */

  .menu-btn {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .menu-btn .line {
    width: 28px;
    height: 2px;
    background-color: black;
    transform-origin: left;
    transition: transform 0.5s ease, opacity 0.2s ease;
  }

  .menu-btn .middle-line {
    transition-delay: 0.1s;
  }
  .menu-btn.open .middle-line {
    opacity: 0;
  }
  .menu-btn.open .top-line {
    transform: rotate(45deg);
  }
  .menu-btn.open .bottom-line {
    transform: rotate(-45deg);
  }

  .menu-btn-open {
    display: none;
  }

  .menu-btn-off {
    display: block;
  }
}
